node_modules
build
dist
bridge.log
package-lock.json
.coverage_contracts
.coverage
coverage
coverage.json
out.log
.GckmsOverride.js
.GckmsOverride.ts
docs
modules
ui
.DS_Store
antora.yml
.eslintcache
.idea
optimism
generated
typechain

# GAE deployment files and directories for GAE deployments.
app.yaml
.gae_deploy
*.env
*env.txt

# environment-specific values pulled by dotenv package
.env

# daily reporter temp files.
response.json
*daily-report.txt

# Gas rebate temp files
debug
2KEY_ADDRESS_OVERRIDE.json
