version: 2.1
setup: true
orbs:
  continuation: circleci/continuation@0.1.2
jobs:
  checkout_and_install:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - checkout
      - run:
          name: Install Prereqs
          command: sudo apt-get update && sudo apt-get install -y libudev-dev libusb-1.0-0-dev yarn
      - run:
          name: Install Dependencies
          command: yarn --frozen-lockfile
      - save_cache:
          key: protocol-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/protocol
            - ~/.ssh
  build:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - restore_cache:
          key: protocol-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Install Prereqs
          command: sudo apt-get install -y rsync
      - run:
          name: Run build
          command: yarn qbuild
      - run:
          name: Modified packages
          command: ./ci/check_lerna_packages.sh
      - save_cache:
          key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/protocol
            - ~/.ssh
  lint:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - restore_cache:
          key: protocol-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Lint
          command: ./ci/lint.sh
  test-financial-templates-lib:
    docker:
      - image: circleci/node:lts
      - image: trufflesuite/ganache-cli
        command: ganache-cli -i 1234 -l 9000000 -p 9545
    working_directory: ~/protocol
    resource_class: medium+
    parallelism: 35
    steps:
      - restore_cache:
          key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Run tests
          command: |
            ./ci/truffle_workaround.sh
            pwd
            cd packages/financial-templates-lib
            echo $(circleci tests glob "test/**/*.js")
            circleci tests glob "test/**/*.js" | circleci tests split > /tmp/test-files
            yarn hardhat test ./$(cat /tmp/test-files)
      - run:
          name: Run tests truffle
          command: |
            ./ci/truffle_workaround.sh
            pwd
            cd packages/financial-templates-lib
            echo $(circleci tests glob "test-truffle/**/*.js")
            circleci tests glob "test-truffle/**/*.js" | circleci tests split > /tmp/test-truffle-files
            yarn truffle test ./$(cat /tmp/test-truffle-files)
  test-liquidator:
    docker:
      - image: circleci/node:lts
      - image: trufflesuite/ganache-cli
        command: ganache-cli -i 1234 -l 9000000 -p 9545
    working_directory: ~/protocol
    resource_class: medium+
    parallelism: 10
    steps:
      - restore_cache:
          key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Run mocha tests
          command: |
            cd packages/liquidator
            yarn mocha mocha-test
      - run:
          name: Run tests
          command: |
            ./ci/truffle_workaround.sh
            pwd
            cd packages/liquidator
            echo $(circleci tests glob "test/**/*.js")
            circleci tests glob "test/**/*.js" | circleci tests split > /tmp/test-files
            yarn hardhat test ./$(cat /tmp/test-files)
  # test:
  #   executor: continuation/default
  #   steps:
  #     - restore_cache:
  #         key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
  #     - run:
  #         name: Generate Tests
  #         command: |
  #           cd /home/circleci/protocol
  #           ./ci/generate_lerna_config.sh
  #     - continuation/continue:
  #         configuration_path: /home/circleci/protocol/.circleci/lerna_config.yml
  coverage:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - checkout
      - restore_cache:
          key: protocol-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Run coverage
          command: ./ci/coverage.sh ~/protocol/packages/core
      - store_artifacts:
          path: packages/core/coverage
  dapp_build:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - restore_cache:
          key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Apply Deployment Registry
          command: yarn run load-addresses
      - run:
          name: Build Voter dApp
          working_directory: ~/protocol/packages/voter-dapp
          command: CI=false yarn run build
      - store_artifacts:
          path: ~/protocol/packages/voter-dapp/build
          destination: voter-dapp-build
  deploy_to_staging:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - restore_cache:
          key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Install Prereqs
          command: sudo apt-get update && sudo apt-get install -y libudev-dev libusb-1.0-0-dev yarn
      - run:
          name: Install Pandoc
          command: wget https://github.com/jgm/pandoc/releases/download/2.7.3/pandoc-2.7.3-linux.tar.gz
      - run:
          name: Untar Pandoc
          command: sudo tar xvzf pandoc-2.7.3-linux.tar.gz --strip-components 1 -C /usr/local
      - run:
          name: Deploy Dapp
          command: ./ci/deploy_to_staging.sh
  publish:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - add_ssh_keys:
          fingerprints:
            - "e5:da:db:1a:1d:66:5b:e7:f5:43:f2:24:1c:56:6a:97"
      - restore_cache:
          key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Install Prereqs
          command: sudo apt-get update && sudo apt-get install -y libudev-dev libusb-1.0-0-dev yarn
      - run:
          name: Publish
          command: yarn run publish-release
workflows:
  version: 2.1
  build_and_test:
    jobs:
      - checkout_and_install
      - build:
          requires:
            - checkout_and_install
      - lint:
          requires:
            - checkout_and_install
      - test-financial-templates-lib:
          requires:
            - build
      - test-liquidator:
          requires:
            - build
      # - test:
      #     requires:
      #       - build
      - dapp_build:
          requires:
            - build
      - deploy_to_staging:
          context: gcloud
          requires:
            - dapp_build
            #- test
          filters:
            branches:
              only: master
      - publish:
          context: api_keys
          requires:
            - build
            #- test
          filters:
            branches:
              only: master
  # Note: The nightly workflow will be commented here, because the feature used
  # from circle CI to split the jobs not allow more than one workflow at the moment.
  # nightly:
  #   triggers:
  #     - schedule:
  #         cron: "0 0 * * *"
  #         filters:
  #           branches:
  #             only:
  #               - master
  #   jobs:
  #     - checkout_and_install
  #     - coverage:
  #         requires:
  #           - checkout_and_install
