version: 2
jobs:
  checkout_and_install:
    docker:
      - image: circleci/node:latest
    working_directory: ~/protocol
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependency-cache-{{ checksum "package.json" }}
            - v1-dependency-cache-
      - run:
          name: Install Dependencies
          command: npm install --quiet
      - save_cache:
          key: v1-dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - save_cache:
          key: protocol-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/protocol
  build:
    docker:
      - image: circleci/node:latest
    working_directory: ~/protocol
    steps:
      - restore_cache:
          key: protocol-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Compile contracts
          command: npm install && $(npm bin)/truffle compile
      - save_cache:
          key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/protocol
  lint:
    docker:
      - image: circleci/node:latest
    working_directory: ~/protocol
    steps:
      - restore_cache:
          key: protocol-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Lint
          command: $(npm bin)/solhint --max-warnings=1 contracts/**/*.sol
  slither:
    docker:
      - image: trailofbits/eth-security-toolbox
    working_directory: ~/protocol
    steps:
      - checkout
      - restore_cache:
          keys:
            - sec-toolbox-deps-{{ checksum "package.json" }}
            - sec-toolbox-deps-
      - run:
          name: Install Dependencies
          command: npm install --quiet
      - save_cache:
          key: sec-toolbox-deps-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Slither
          command: ./ci/run_slither.sh
  test:
    docker:
      - image: circleci/node:latest
      - image: trufflesuite/ganache-cli
        command: ganache-cli -i 1234 -l 6720000
    working_directory: ~/protocol
    steps:
      - restore_cache:
          key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Run tests
          command: $(npm bin)/truffle test --network ci
  coverage:
    docker:
      # Note: we made a compromise here to get solidity-coverage to work. We're just creating a new build inside the
      # trufflesuite/ganache-cli for solidity-coverage. This is because there were issues (not 100% sure about the
      # cause) with getting solidity-coverage's testrpc to run correctly in the remote image. However, it cannot run
      # locally without the opened 8545 port that this image has. So the solution we chose was to just run coverage
      # within that docker image. Caching doesn't seem to work cross-image, so we have to re-checkout the repo and
      # reinstall deps. We could have also run all the above tests inside this new image. However, we want to ensure
      # that there is no implicit dependence on the bundled deps or setup inside the trufflesuite/ganache-cli image,
      # so we want to continue generic testing against the bare node image.
      # TODO(mrice32): we could probably fix this if we just created our own image on top of the node image that opens
      # port 8545.
      - image: trufflesuite/ganache-cli
    working_directory: ~/protocol
    steps:
      - checkout
      - run:
          name: Install System Packages
          command: apk update && apk add make git python g++ curl ca-certificates openssl && update-ca-certificates
      - restore_cache:
          keys:
            - coverage-dependency-cache-{{ checksum "package.json" }}
            - coverage-dependency-cache-
      - run:
          name: Install Dependencies
          command: npm install --quiet
      - save_cache:
          key: coverage-dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Run coverage
          command: npm run coverage
      - store_artifacts:
          path: coverage
          destination: coverage
  echidna:
    docker:
      - image: trailofbits/eth-security-toolbox
    working_directory: ~/protocol
    steps:
      - checkout
      - restore_cache:
          keys:
            - echidna-dependency-cache-{{ checksum "package.json" }}
            - echidna-dependency-cache-
      - run:
          name: Install Dependencies
          command: npm install --quiet
      - save_cache:
          key: echidna-dependency-cache-{{ checksum "package.json" }}
          paths:
            - node_modules
      - run:
          name: Run Echidna Tests
          command: ./ci/run_echidna_tests.sh
  sponsor_dapp_test:
    docker:
      - image: circleci/node:latest
      - image: trufflesuite/ganache-cli
        command: ganache-cli -i 1234 -l 6720000 -p 9545
    working_directory: ~/protocol
    steps:
      - restore_cache:
          key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Deploy Contracts
          command: $(npm bin)/truffle migrate --reset --network test
      - save_cache:
          key: sponsor-dapp-deployment-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - build
      - restore_cache:
          keys: 
            - sponsor-dapp-dep-cache-{{ checksum "sponsor-dapp/package.json" }}
            - sponsor-dapp-dep-cache-
      - run:
          name: Install Dependencies
          working_directory: ~/protocol/sponsor-dapp
          command: npm install
      - save_cache:
          key: sponsor-dapp-dep-cache-{{ checksum "sponsor-dapp/package.json" }}
          paths:
            - sponsor-dapp/node_modules
      - run:
          name: Test DApp
          working_directory: ~/protocol/sponsor-dapp
          command: CI=true npm test
  sponsor_dapp_build:
    docker:
      - image: circleci/node:latest
      - image: trufflesuite/ganache-cli
        command: ganache-cli -i 1234 -l 6720000 -p 9545
    working_directory: ~/protocol
    steps:
      - restore_cache:
          key: sponsor-dapp-deployment-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          key: sponsor-dapp-dep-cache-{{ checksum "sponsor-dapp/package.json" }}
      - run:
          name: Build DApp
          working_directory: ~/protocol/sponsor-dapp
          command: npm build
      - store_artifacts:
          path: ~/protocol/sponsor-dapp/build
          destination: build

workflows:
  version: 2
  build_and_test:
    jobs:
      - checkout_and_install
      - build:
          requires:
            - checkout_and_install
      - lint:
          requires:
            - checkout_and_install
      - slither
      - test:
          requires:
            - build
      - echidna
      - coverage
      - sponsor_dapp_test
      - sponsor_dapp_build:
          requires:
            - sponsor_dapp_test
