version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.1.2

jobs:
  checkout_and_install:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - checkout
      - run:
          name: Install Prereqs
          command: sudo apt-get update && sudo apt-get install -y libudev-dev libusb-1.0-0-dev yarn
      - run:
          name: Install Dependencies
          command: yarn --frozen-lockfile
      - save_cache:
          key: protocol-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/protocol
            - ~/.ssh
  build:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - restore_cache:
          key: protocol-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Run build
          command: yarn qbuild
      - save_cache:
          key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/protocol
            - ~/.ssh
  lint:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - restore_cache:
          key: protocol-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Lint
          command: ./ci/lint.sh
  docs:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - restore_cache:
          key: protocol-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Install Pandoc
          command: wget https://github.com/jgm/pandoc/releases/download/2.7.3/pandoc-2.7.3-linux.tar.gz
      - run:
          name: Untar Pandoc
          command: sudo tar xvzf pandoc-2.7.3-linux.tar.gz --strip-components 1 -C /usr/local
      - run:
          name: Generate Docs
          command: ./scripts/build_docs_site.sh
      - store_artifacts:
          path: build/site

  testing:
    executor: continuation/default
    steps:
      - restore_cache:
          key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Generate Tests
          command: ./scripts/generate_lerna_config.sh
      - continuation/continue:
          configuration_path: .circleci/lerna_config.yml

  coverage:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - checkout
      - restore_cache:
          key: protocol-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Run coverage
          command: ./ci/coverage.sh ~/protocol/packages/core
      - store_artifacts:
          path: packages/core/coverage
  dapp_build:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - restore_cache:
          key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Apply Deployment Registry
          command: yarn run load-addresses
      - run:
          name: Build Voter dApp
          working_directory: ~/protocol/packages/voter-dapp
          command: CI=false yarn run build
      - store_artifacts:
          path: ~/protocol/packages/voter-dapp/build
          destination: voter-dapp-build
  deploy_to_staging:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - restore_cache:
          key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Install Prereqs
          command: sudo apt-get update && sudo apt-get install -y libudev-dev libusb-1.0-0-dev yarn
      - run:
          name: Install Pandoc
          command: wget https://github.com/jgm/pandoc/releases/download/2.7.3/pandoc-2.7.3-linux.tar.gz
      - run:
          name: Untar Pandoc
          command: sudo tar xvzf pandoc-2.7.3-linux.tar.gz --strip-components 1 -C /usr/local
      - run:
          name: Deploy Dapp
          command: ./ci/deploy_to_staging.sh
  publish:
    docker:
      - image: circleci/node:lts
    working_directory: ~/protocol
    steps:
      - add_ssh_keys:
          fingerprints:
            - "e5:da:db:1a:1d:66:5b:e7:f5:43:f2:24:1c:56:6a:97"
      - restore_cache:
          key: protocol-completed-build-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: Install Prereqs
          command: sudo apt-get update && sudo apt-get install -y libudev-dev libusb-1.0-0-dev yarn
      - run:
          name: Publish
          command: yarn run publish-release

workflows:
  version: 2.1
  build_and_test:
    jobs:
      - checkout_and_install
      - build:
          requires:
            - checkout_and_install
      - lint:
          requires:
            - checkout_and_install
      - testing:
          context: api_keys
          requires:
            - build
      - docs:
          requires:
            - checkout_and_install
      - dapp_build:
          requires:
            - build
      - deploy_to_staging:
          context: gcloud
          requires:
            - dapp_build
          filters:
            branches:
              only: master
      - publish:
          context: api_keys
          requires:
            - build
          filters:
            branches:
              only: master
  # nightly:
  #   triggers:
  #     - schedule:
  #         cron: "0 0 * * *"
  #         filters:
  #           branches:
  #             only:
  #               - master
  #   jobs:
  #     - checkout_and_install
  #     - coverage:
  #         requires:
  #           - checkout_and_install
