/* ------------------------------------------------------------ *\
	Link Default
\* ------------------------------------------------------------ */

.link-default {
	font-weight: 600;
	color: $color-red;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	font-size: 20px;
	font-weight: 600;
	font-family: $font-halyard-text;
	padding: 13px 47px;
	line-height: 1.5;
	border-radius: 4px;
	border: 2px solid $color-red;
	background: $color-red;
	color: #fff;
	transition: 0.3s;

	i {
		margin-right: 2px;
	}

	&:hover {
		background: transparent;
		color: $color-red;
	}

	&.disabled,
	&[disabled] {
		pointer-events: none;
		background: #e9e9e9;
		border-color: transparent;
		color: #fff;
	}

	&--size1 {
		width: 100%;
		max-width: 274px;
		padding: 13px 20px;
	}

	&--size2 {
		width: 100%;
		max-width: 250px;
		padding: 13px 20px;
	}

	&--block {
		display: block;
		width: 100%;
	}

	&.has-loading {
		span { display: block; }

		.loading-text { display: none; }

		.dot-pulse { display: none; }
	}

	&.is-loading {
		background: #9b9b9b;
		border-color: #9b9b9b;
		color: #fff;
		pointer-events: none;

		span { display: none; }

		.loading-text { display: inline-block; margin-right: 25px; }
		.dot-pulse { display: inline-block; }
	}
}

.btn--grey {
	background: rgba(190, 190, 190, 0.2);
	border-color: transparent;
	color: $color-text;

	&:hover {
		background: rgba(190, 190, 190, 0.4);
		color: $color-text;
	}
}

.btn--alt {
	background: #9b9b9b;
	border-color: #9b9b9b;
	color: #fff;

	&:hover {
		background: transparent;
		color: #9b9b9b;
	}
}
