/* ------------------------------------------------------------ *\
	Expand Box
\* ------------------------------------------------------------ */

.expand-box {
	&__trigger {
		appearance: none;
		border: none;
		border-radius: 0;
		background: transparent;
		font-size: 20px;
		line-height: 1.2;
		display: flex;
		align-items: center;

		strong {
			padding-right: 12px;
			margin-right: 12px;
			font-weight: 600;
			border-right: 1px solid #bebebe;
		}

		.icon {
			font-size: 0;
		}
	}

	.expand-box__content {
		padding: 30px 0;

        a {
            color: $color-red;
            font-weight: 600;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
	}

	.expand-box__body {
		max-height: 0;
		overflow: hidden;
		font-weight: 400;
		line-height: 1.2;
	}

	&.active {
		.icon {
			transform: rotate(180deg);
		}

		.expand-box__body {
			max-height: 100%;
			overflow: visible;
		}
	}
}
