/* ------------------------------------------------------------ *\
    Fonts
\* ------------------------------------------------------------ */

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * halyard-display:
 *   - http://typekit.com/eulas/00000000000000003b9b224d
 *   - http://typekit.com/eulas/00000000000000003b9b2250
 *   - http://typekit.com/eulas/00000000000000003b9b2252
 * halyard-text:
 *   - http://typekit.com/eulas/00000000000000003b9b226a
 *   - http://typekit.com/eulas/00000000000000003b9b226d
 *   - http://typekit.com/eulas/00000000000000003b9b2270
 *   - http://typekit.com/eulas/00000000000000003b9b2272
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-11-27 14:56:45 UTC"}*/

@import url('https://p.typekit.net/p.css?s=1&k=jll8euv&ht=tk&f=34664.34668.34669.34693.34695.34700.34701&a=676180&app=typekit&e=css');

@font-face {
    font-family: 'halyard-display';
    src: url('https://use.typekit.net/af/25d0fd/00000000000000003b9b224d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
            format('woff2'),
        url('https://use.typekit.net/af/25d0fd/00000000000000003b9b224d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
            format('woff'),
        url('https://use.typekit.net/af/25d0fd/00000000000000003b9b224d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'halyard-display';
    src: url('https://use.typekit.net/af/d130ce/00000000000000003b9b2250/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
            format('woff2'),
        url('https://use.typekit.net/af/d130ce/00000000000000003b9b2250/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
            format('woff'),
        url('https://use.typekit.net/af/d130ce/00000000000000003b9b2250/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'halyard-display';
    src: url('https://use.typekit.net/af/107bb0/00000000000000003b9b2252/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
            format('woff2'),
        url('https://use.typekit.net/af/107bb0/00000000000000003b9b2252/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
            format('woff'),
        url('https://use.typekit.net/af/107bb0/00000000000000003b9b2252/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'halyard-text';
    src: url('https://use.typekit.net/af/f8e0f5/00000000000000003b9b226a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
            format('woff2'),
        url('https://use.typekit.net/af/f8e0f5/00000000000000003b9b226a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
            format('woff'),
        url('https://use.typekit.net/af/f8e0f5/00000000000000003b9b226a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'halyard-text';
    src: url('https://use.typekit.net/af/9fc806/00000000000000003b9b226d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
            format('woff2'),
        url('https://use.typekit.net/af/9fc806/00000000000000003b9b226d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
            format('woff'),
        url('https://use.typekit.net/af/9fc806/00000000000000003b9b226d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'halyard-text';
    src: url('https://use.typekit.net/af/8e20fa/00000000000000003b9b2270/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
            format('woff2'),
        url('https://use.typekit.net/af/8e20fa/00000000000000003b9b2270/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
            format('woff'),
        url('https://use.typekit.net/af/8e20fa/00000000000000003b9b2270/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'halyard-text';
    src: url('https://use.typekit.net/af/10aa90/00000000000000003b9b2272/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
            format('woff2'),
        url('https://use.typekit.net/af/10aa90/00000000000000003b9b2272/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
            format('woff'),
        url('https://use.typekit.net/af/10aa90/00000000000000003b9b2272/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3')
            format('opentype');
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

.tk-halyard-display {
    font-family: 'halyard-display', sans-serif;
}
.tk-halyard-text {
    font-family: 'halyard-text', sans-serif;
}
