/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer {
	background: #fff;

	.footer__inner {
		height: 110px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.link-default {
		text-decoration: none;
	}
}
