/* ------------------------------------------------------------ *\
	List
\* ------------------------------------------------------------ */

[class^='list-'] {
	list-style: none outside none;
}

/* ------------------------------------------------------------ *\
	List Examples
\* ------------------------------------------------------------ */

.list-examples {
	display: flex;
	align-items: flex-start;
	font-family: $font-halyard-display;
	font-weight: 600;

	li {
		min-width: 192px;
		max-width: 212px;
		text-align: center;
	}

	li ~ li {
		margin-left: 120px;
	}

	.icon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 110px;
		margin-bottom: 8px;
	}
}

/* ------------------------------------------------------------ *\
	List Selections
\* ------------------------------------------------------------ */

.list-selections {
	span {
		font-weight: 400;
	}
}

/* ------------------------------------------------------------ *\
	List Info
\* ------------------------------------------------------------ */

.list-info {
	line-height: 1.2;

	a {
		text-decoration: underline;
		color: $color-red;

		&:hover {
			text-decoration: none;
		}
	}
}
