/* ------------------------------------------------------------ *\
	Popup
\* ------------------------------------------------------------ */

.popup {
	background: #fff;
	height: 100vh;
	padding-bottom: 30px;
	position: relative;
	font-family: $font-halyard-display;
	font-weight: 400;
	line-height: 1.2;

	h3 {
		margin-bottom: 32px;
	}

	.btn-close {
		position: absolute;
		top: 50px;
		right: 43px;

		g {
			transition: stroke 0.3s;
		}

		&:hover {
			g {
				stroke: $color-red;
			}
		}
	}

	.popup__inner {
		padding: 15px 0;
		position: relative;
	}

	.popup__head-entry {
		max-width: 500px;

		strong {
			font-weight: 600;
			display: block;
		}
	}

	.popup__head {
		margin-bottom: 41px;
	}

	.popup__body {
		margin: 0 -12px 55px;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		position: relative;

	}

	.popup__body-step {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
	}

	.popup__entry {
		padding-left: 70px;

		p {
			margin-bottom: 33px;
			strong { font-weight: 600; }
		}

		ul {
			display: flex;
			align-items: flex-start;

			strong { font-weight: 600; }

			span,
			strong { display: block; }

			li + li { margin-left: 54px; }

			.highlight { color: $color-red; }
		}

		&-alt { padding-left: 0; }
	}

	.popup__col {
		width: 50%;
		padding: 0 12px;
		max-width: 460px;
	}

	.popup__col--offset-bottom {
		margin-bottom: 20px;
	}

	.popup__description {
		font-weight: 300;
		line-height: 1.2;

		dt {
			font-weight: 600;
		}
	}

	.popup__description + .popup__description {
		margin-top: 30px;
	}

	&-1-enter-done,
	&-2-enter-done{
		position: relative;
	}
}