/* ------------------------------------------------------------ *\
	Positions
\* ------------------------------------------------------------ */

.positions {
	.position ~ .position {
		margin-top: 26px;
	}
}

/* ------------------------------------------------------------ *\
	Position
\* ------------------------------------------------------------ */

.position {
	background: #fff;
	border-top: 2px solid $color-text;
	padding: 10px 20px 33px;

	.position__head {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		font-weight: 400;
		line-height: 1.2;
		margin-bottom: 30px;
	}

	.status {
		color: #9b9b9b;
	}

	.position__table {
		text-align: left;
		line-height: 1.2;

		th {
			font-size: 14px;
			font-weight: 400;
			padding: 14px 0;

			&:last-child {
				width: 210px;
			}
		}

		td {
			font-size: 14px;
			line-height: 1.43;
			font-weight: 600;
			border-top: 2px solid #979797;
			padding: 11px 0;
			vertical-align: top;

			&:last-child {
				width: 210px;
			}

			span {
				line-height: 1.2;
				color: $color-red;
			}

			strong {
				font-weight: 600;
				font-size: 20px;
				line-height: 1.2;
			}
		}

		.btn {
			width: 100%;
			max-width: 210px;
			padding: 13px 20px;
		}

		.tooltip {
			margin-left: 10px;
		}
	}
}
