/* ------------------------------------------------------------ *\
	Steps
\* ------------------------------------------------------------ */

.steps {
	background: #fff;
	height: 100vh;
	padding-bottom: 30px;
	position: relative;
	overflow-x: hidden;

	.btn-close {
		position: absolute;
		top: 50px;
		right: 43px;

		g {
			transition: stroke 0.3s;
		}

		&:hover {
			g {
				stroke: $color-red;
			}
		}
	}

	.steps__head {
		margin-bottom: 60px;
	}

	.steps__body {
		position: relative;
	}

	.step__description {
		font-weight: 300;
		line-height: 1.2;

		dt {
			font-weight: 600;
		}
	}

	.step__description + .step__description {
		margin-top: 30px;
	}
}

/* ------------------------------------------------------------ *\
	Steps Nav
\* ------------------------------------------------------------ */

.steps__nav {
	margin-bottom: 60px;

	ul {
		display: flex;
		align-items: flex-start;
	}

	li {
		position: relative;
		width: 100%;
		max-width: 160px;
		border-top: 4px solid $color-text;
		padding-top: 26px;
		transition: color 0.3s;

		&:before {
			content: '';
			display: block;
			background: $color-red;
			width: 0;
			position: absolute;
			top: -4px;
			left: 0;
			height: 4px;
			transition: width 0.3s;
		}
	}

	li + li {
		margin-left: 24px;
	}

	span {
		display: inline-block;
		vertical-align: middle;
	}

	.icon {
		font-size: 0;
		display: inline-block;
		margin-left: 10px;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;
	}

	.is-active {
		color: $color-red;

		&:before {
			width: 100%;
		}
	}

	.is-completed {
		color: $color-text;

		&:before {
			background: $color-text;
		}

		.icon {
			opacity: 1;
			visibility: visible;
		}
	}
}

@media #{$small-desktop} {
	.steps__nav {
		li { width: auto; max-width: none; flex-grow: 1; flex-shrink: 0; }
	}
}
/* ------------------------------------------------------------ *\
	Step
\* ------------------------------------------------------------ */

.step {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-right: 184px;
	margin: 0 -14px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: -1;

	p {
		span {
			font-weight: 400;
			display: block;
		}

		a {
			color: $color-red;
			font-weight: 600;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	p ~ p {
		margin-top: 30px;
	}

	.step__inner {
		display: flex;
		width: 100%;
	}

	.step__content,
	.step__aside {
		width: 50%;
		padding: 0 14px;
	}

	.step__content-alt {
		width: 100%;
		max-width: 60%;
		padding-left: 14px;

		& + .step__aside {
			max-width: 40%;
		}
	}

	.step__entry {
		margin-bottom: 99px;
	}

	.step__actions {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.btn + .btn {
			margin-left: 23px;
		}
	}

	&--primary {
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
		opacity: 1;
		z-index: 0;
	}

	&-1-enter-done,
	&-2-enter-done,
	&-3-enter-done,
	&-4-enter-done,
	&-5-enter-done,
	&-6-enter-done {
		position: relative;
		z-index: 1;
		opacity: 1;
	}
}

/* Small Desktop */

@media #{$small-desktop} {
	.step { padding-right: 0; }
}

/* ------------------------------------------------------------ *\
	Steps Animations
\* ------------------------------------------------------------ */

.step-1-enter,
.step-2-enter,
.step-3-enter,
.step-4-enter,
.step-5-enter,
.step-6-enter {
	opacity: 0;
}
.step-1-enter-active,
.step-2-enter-active,
.step-3-enter-active,
.step-4-enter-active,
.step-5-enter-active,
.step-6-enter-active {
	opacity: 1;
	transition: opacity 200ms;
}

.step-1-exit,
.step-2-exit,
.step-3-exit,
.step-4-exit,
.step-5-exit,
.step-6-exit {
	opacity: 1;
}
.step-1-exit-active,
.step-2-exit-active,
.step-3-exit-active,
.step-4-exit-active,
.step-5-exit-active,
.step-6-exit-active {
	opacity: 0;
	transition: opacity 200ms;
}


