/* ------------------------------------------------------------ *\
	Tooltip
\* ------------------------------------------------------------ */

.tooltip {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 0;

	.tooltip__toggle {
		appearance: none;
		background: transparent;
		border: none;
		border-bottom-left-radius: 0;
		font-size: 0;
	}

	.tooltip__content {
		position: absolute;
		top: 50%;
		left: 100%;
		transform: translateY(-50%);
		margin-left: 10px;
		background: #ffffff;
		border: 1px solid #ededed;
		box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.25);
		border-radius: 4px;
		font-size: 14px;
		line-height: 1.43;
		font-weight: 400;
		padding: 15px;
		width: 100vw;
		max-width: 345px;
		opacity: 0;
		visibility: hidden;
		z-index: 5;

		span {
			font-weight: 600;
			color: $color-red;
		}
	}

	&.active {
		.tooltip__toggle {
			g {
				stroke: $color-red;
				opacity: 1;
			}
		}
		.tooltip__content {
			opacity: 1;
			visibility: visible;
		}
	}
}
